.spinner-border {
   width: 23px;
   height: 23px;
   margin: -4px 10px;
   color: #6f92a7;
}

.form-footer {
   display: flex;
   justify-content: space-between;
}

.icon-info {
   width: 26px;
   vertical-align: -8px;
   margin-right: 3px;
}