.modal-open {
   padding-right: 0 !important;
}

.form-control,
.btn {
   font-size: 14px !important;
}

.btn-link {
   padding: 0;

   &:focus {
      box-shadow: none;
   }
}

.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .form-control:valid,
.form-control.is-valid {
   border-color: #ced4da;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label,
.custom-file-input.is-valid:focus ~ .custom-file-label,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
   border-color: #80bdff;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}


.modal-dialog {
   max-width: 1000px;
   transform: none !important;
}

.modal-header {
   background-color: #8aaec3;
   color: white;
   border-bottom: 0;
   padding: 12px 16px;
   border-radius: 0;

   .modal-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: -1px;
   }

   .close {
      padding: 0;      
      margin: 2px 0 0 0;
      opacity: 1;

      &:hover {
         opacity: 1 !important;
      }
   }
}

.modal-footer {
   border-radius: 0;
}

.modal-content {
   border: 0 none;
   border-radius: 0;
}

.nav-tabs {
   flex-direction: column;
   border-bottom: 0;

   .nav-link {
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 400;
      color: #212529;
      border-radius: 0;
      margin-bottom: 0;
      background-color: #f8f8f8;
      border: 1px solid #dee2e6;
      border-left: 1px solid #dee2e6;
      border-right: 0 none !important;
      border-top: 0 none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

      &:hover,
      &:focus {
         border-color: #dee2e6;
      }

      &:hover {
         background-color: #ffffff;
      }

      &:first-child {
         border-top: 1px solid #dee2e6;
      }

      &.active {
         background-color: #ffffff;
         font-weight: 500;
         position: relative;
         cursor: default;
         margin-right: -1px;

         &::before {
            content: "";
            display: block;
            position: absolute;
            top: -7px;
            left: -1px;
            height: 7px;
            width: calc(100% + 1px);
            background-color: #8aaec3;
         }
      }
   }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
   border-color: #dee2e6;
}


.dropdown-item {
   cursor: default !important;
   user-select: none;

   &:active {
      background-color: #8aaec3;
   }
}

.show > .btn-primary.dropdown-toggle {
   border-color: #80bdff !important;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}
