

.map-container {
   display: flex;

   .map {
      width: 67%;
      height: 350px;
      border: 1px solid #dddddd;
      margin-right: 25px;
      background-color: #ffffff;
   }

   .map-menu {
      height: 350px;
      width: 33%;
      overflow-y: auto;

      ul {
         margin: 0;
         padding: 0;
         list-style: none;

         li {
            margin-bottom: 10px;

            &:first-child {
               border-bottom: 1px solid #dddddd;
               padding-bottom: 10px;
            }

            &:last-child {
               margin-bottom: 0;
            }
         }

         input {
            margin-right: 5px;
         }

         label {
            user-select: none;
            margin-bottom: 0;
         }
      }
   }
}
