.App {
   width: 67%;
   text-align: left;
   margin: 15px auto 50px auto;
}

h1 {
   font-size: 36px;
   margin-bottom: 0;

   img {
      width: 175px;
      height: 175px;
   }
}

h6 {
   font-size: 18px;
}

.paper {
   background: #ffffff;
   box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
   padding: 24px 28px;
   margin: 20px 0;
}
