.response-row {
   font-size: 14px;

   .info {
      user-select: none;
      cursor: pointer;
      border-top: 1px solid #dddddd;
      padding: 8px 6px;
      font-size: 0;

      &:hover {
         background-color: #f0f4f7;
      }

      > * {
         display: inline-block;
         font-size: 14px;
      }

      .type {
         width: 11%;
      }

      .name {
         width: 79%;
      }

      .id {
         width: 10%;
      }
   }

   .label {
      color: #fff;
      padding: 2px 6px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;

      &.label-default {
         background-color: #00676f;
      }

      &.label-error {
         background-color: #d9534f;
         text-transform: uppercase;
      }

      &.label-warning {
         background-color: #f0ad4e;
         text-transform: uppercase;
      }
   }

   .messages {
      border-top: 1px solid #dddddd;
      line-height: 150%;
      font-size: 12px;
      margin: 0;
      padding: 10px 25px;
      max-height: 300px;
      overflow-y: auto;
   }
}
